@model TicketSystem.Web.Models.Project.CreateProjectViewModel

@{
    ViewData["Title"] = "Create Project";
}

<h1>New Project</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label mb-2"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label mb-2"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="StartDate" class="control-label mb-2"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            @if(Model.Workflows != null && Model.Workflows.Any())
            {
                <div class="form-group mb-3">
                    <label asp-for="WorkflowId" class="control-label mb-2"></label>
                    <select asp-for="WorkflowId" class="form-control" asp-items="Model.Workflows"></select>
                </div>
            }
            else
            {
                <div class="alert alert-warning mb-3 justify-content-between">
                    No Workflow found!
                    <a asp-controller="Workflow" asp-action="Create" class="btn btn-primary btn-sm">
                        + Workflow
                    </a>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const dateInputs = document.querySelectorAll('input[type="date"]');
        dateInputs.forEach(input => {
            input.value = '';
        });
        });
    </script>
}
