@using TicketSystem.Web.Models.Users
@model RegisterViewModel

@{
    ViewData["Title"] = "Criar nova conta";
}

<h2>@ViewData["Title"]</h2>
<p class="text-muted">Crie sua conta para solicitar acesso ao sistema.</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label">Nome Completo</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Senha</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success mt-2">Registrar-se</button>
            <a asp-action="Login" class="btn btn-link mt-2">Já tenho uma conta</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}