@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Ticket System</h1>
    <div class="d-flex justify-content-center gap-5">
        <a asp-action="LoginOnly" class="btn btn-primary">User Panel</a>
        <a asp-action="AdminOnly" class="btn btn-primary">Admin Panel</a>
    </div>
</div>
