@{
    ViewData["Title"] = "User Panel Page";
}

<div class="text-center">
    <h1 class="text-center mb-5">User Panel</h1>
    <div class="d-flex justify-content-center gap-5">
        <a class="btn btn-primary">Create Ticket</a>
        <a class="btn btn-primary">Manage Users</a>
    </div>
</div>